.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;

}

.header.on {
    background: #f986bd;
}


.header .inner {
    position: relative;
    display: flex;
    height: 100px;
    align-items: center;
}

.header .inner h1 {
    margin: 0 72px 0 0;
}

.header.on .inner h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header .inner h1 img {
    height: 60px;

}


.header .inner .gnb ul {
    display: flex;
    gap: 30px;
    font-size: 14px;
    font-weight: 600;
    color: #333;
}

.header.on .inner .gnb ul li {
    display: flex;
    margin: 0 0 0 auto;
    gap: 30px;
    color: #fff;
}

.header .utils {
    display: flex;
    margin: 0 0 0 auto;
    gap: 30px;
}

.header .utils input[type='text'] {
    outline: none;
    border: none;
    border-bottom: 1px solid #333;

    width: 120px;
    background: #ffe4ea;
    transition: 0.2s;
}

.header.on .utils input[type='text'] {
    border-bottom: 1px solid #fff;
    background-color: #f986bd;
}

.header .utils button {
    font-size: 20px;
    color: #333;
}

.header.on .utils button {
    color: #fff;
}

.header .utils a i {
    font-size: 24px;
    color: #333;
}

.header.on .utils a i {
    color: #fff;
}

.main_visual {
    position: relative;
    background: #ffe4ea;
    height: 100vh;
    overflow: hidden;


}






.main_visual .inner {
    position: relative;
    background: #ffe4ea;
    height: 100vh;
    /* overflow: hidden; */

}

.main_visual .inner {
    max-width: 1530px;
    height: calc(100% - 200px);
    width: 100%;
    margin: 100px auto 0 auto;
    border: 8px double #f986bd;
    border-radius: 80px;
    background: url(../images/inner_bg.avif) center center/cover;
}

.main_visual .inner>* {
    flex: 1;
}


/* .main_visual .inner .main_img_box img {
    width: 100%;
    height: 480px;
    object-fit: cover;
} */

.main_visual .inner .main_visual_slide .img_box {
    margin: 200px 0 0 69px;
}

.main_visual .inner .main_visual_slide .img_box img {
    height: 540px;
}

.main_visual .inner .main_visual_slide .tit {
    position: absolute;
    top: 16%;
    left: 57%;
    transform: translate(-50%, -50);
    text-align: center;
}

.main_visual .inner .main_visual_slide .tit h2 {

    margin: 0 0 24px 0;
    color: #fff;
}

.main_visual .inner .main_visual_slide .tit p {
    color: #fff;
}

.main_visual .inner .main_visual_slide .icecream_slide {
    position: absolute;
    top: 62%;
    left: 70%;
    width: 300px;
    transform: translate(-50%, -50%);
    z-index: 0;

}

.main_visual .inner .main_visual_slide .icecream_slide figure {}

.main_visual .inner .main_visual_slide .icecream_slide img {
    height: 400px;
    transform: scale(1.1);
}

.main_visual .inner .main_visual_slide .icecream_slide .slick-dots {
    text-align: center;


}

.main_visual .inner .main_visual_slide .icecream_slide .slick-dots li {
    display: inline-block;
    margin: 0 4px;
}

.main_visual .inner .main_visual_slide .icecream_slide .slick-dots button {
    background: rgba(135, 206, 235, 0.4);
    width: 14px;
    height: 14px;
    font-size: 12px;
    border-radius: 50%;
    color: #fff;
    margin: 0 10px;
    text-indent: -9999px;


}

.main_visual .inner .main_visual_slide .icecream_slide .slick-dots li.slick-active button {
    /* background: #ff5484;  */
    width: 36px;
    height: 56px;
    border-radius: 0;
    background: url(../images/spoonicon.png) center center no-repeat;
    cursor: pointer;
}


.main_visual .main_visual_slide .arrows {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 1530px;
    width: 100%;
}

.main_visual .main_visual_slide .arrows button {
    position: absolute;
}

.main_visual .main_visual_slide .arrows .prev {
    left: 52%;
}

.main_visual .main_visual_slide .arrows .next {
    right: 12%;
}

.main_visual .main_visual_slide .arrows button i {
    background: rgba(255, 255, 255, 0.1);
    padding: 12px;
    color: #fff;
    cursor: pointer;
    border-radius: 50%;
}

/* .main_visual .inner .main_visual_slide .icecream_slide figure>*::before {
    content: attr(data-txt);
    position: absolute;
    inset: 0 0 0 0;


    border-radius: 50%;
    opacity: 0;
}


.main_visual .inner .main_visual_slide .icecream_slide figure>*:hover::before {
    animation: icecrem 1s infinite;
}

@keyframes icecrem {
    0% {
        opacity: 1;
        transform: scale(1);
    }

    100% {
        opacity: 0;
        transform: scale(1.4);
    }
} */

.main_visual .inner .side_box {

    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -100%);


}

.main_visual .inner .side_box img {

    height: 64px;
    padding: 0 64px;
    border-top: 6px double #f986bd;
    border-left: 6px solid #f986bd;
    border-right: 6px solid #f986bd;
    border-top-left-radius: 36px;
    border-top-right-radius: 36px;
    background: #fd9ecc;
}



.main_visual .kids_box {
    position: absolute;
    top: 22%;
    left: 26%;
    transform: translate(-50%, -50%);
}

.main_visual .kids_box img {
    height: 300px;
}

.main_visual .wheel {
    position: absolute;
    bottom: -39px;
    left: 50%;
    transform: translate(-50%, 0);
    color: #858585;
    font-size: 13px;
    text-transform: uppercase;
}

.main_visual .mouse {
    position: relative;

}

.main_visual .mouse .dot::before {
    content: "";
    position: absolute;
    bottom: -75px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 32px;
    height: 42px;
    border-radius: 16px;
    border: 2px solid #f986bd;

}

.main_visual .mouse .dot::after {
    content: "";
    position: absolute;
    left: 44px;
    top: 32px;
    height: 10px;
    width: 2px;
    background: #ff5484;

    animation: dot 0.5s infinite;

}

@keyframes dot {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(0, 4px);
    }
}


/* .main_visual .kids_box ::before {
    content: "";
    position: absolute;
    top: 4rem;
    left: 50%;
    transform: translate(-50%, 0);

    width: 4px;
    height: 4px;
    background: var(--white-color);
    border-radius: 50%;
}

.main_visual .kids_box ::after {
    content: "";
    position: absolute;
    top: 4rem;
    left: 50%;
    transform: translate(-50%, 0);

    width: 4px;
    height: 4px;
    background: var(--white-color);
    border-radius: 50%;
    opacity: 0.25;

    animation: dots 4s infinite;
} */

/* 
@keyframes dots {
    0% {
        transform: translate(-50%, 0);
    }

    50% {
        transform: translate(-50%, 0) scale(5);
    }

    100% {
        transform: translate(-50%, 0);
    }
} */



.main_promotion {
    position: relative;
    padding: 100px;

    max-width: 1530px;
    width: 100%;
    margin: 0 auto;
}

.main_promotion .tit {

    margin: 0 auto 40px auto;
}

.main_promotion .tit h2 {
    text-align: center;
    color: #ff5484;
    margin: 0 0 16px 0;

}

.main_promotion .tit p {
    text-align: center;
    color: #858585;
}

.main_promotion img {
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}

.main_promotion .inner .main_promotion_slide {
    margin: 0 -7.5%;
}

.main_promotion .inner .main_promotion_slide .itm {

    margin: 0 15px;
}






.main_promotion .inner .main_promotion_slide strong {
    display: block;
    border-bottom: 1px solid #ffe4ea;
    border-left: 1px solid #ffe4ea;
    border-right: 1px solid #ffe4ea;
    text-align: center;
    padding: 20px 0;
    color: #858585;
    margin: 0 0 16px 0;
}

.main_promotion .inner .main_promotion_slide p {
    line-height: 24px;
    text-align: center;
}

.main_promotion .inner .main_promotion_slide .slick-dots {
    text-align: center;
    margin: 16px 0 0 0;

}

.main_promotion .inner .main_promotion_slide .slick-dots li {
    display: inline-block;
    margin: 0 4px;
}

.main_promotion .inner .main_promotion_slide .slick-dots button {
    background: rgba(135, 206, 235, 0.4);
    width: 14px;
    height: 14px;
    font-size: 12px;
    border-radius: 50%;
    color: #fff;
    margin: 0 8px;
    text-indent: -9999px;


}

.main_promotion .inner .main_promotion_slide .slick-dots li.slick-active button {
    /* background: #ff5484;  */
    width: 36px;
    height: 56px;
    border-radius: 0;
    background: url(../images/spoonicon.png) center center no-repeat;
    cursor: pointer;
}

.main_promotion .arrows {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 1530px;
    width: 100%;
}

.main_promotion .arrows button {
    position: absolute;
}

.main_promotion .arrows .prev {
    left: -100px;
}

.main_promotion .arrows .next {
    right: -100px;
}

.main_promotion .arrows button i {
    background: #ffe4ea;
    padding: 12px;
    color: #fff;
    cursor: pointer;
    border-radius: 50%;
}

.main_new_slide {
    background: #ffe4ea;

}

.main_new_slide .w_inner {
    display: flex;
    gap: 40px;
    max-width: 1530px;
    width: 100%;
    margin: 0 auto;
}

.main_new_slide .w_inner .left {
    flex: 0 1 440px;
    min-height: 0;
}

.main_new_slide .w_inner .itm figure {
    margin: 0 0 40px 0;
}

.main_new_slide .w_inner .left .itm figure {
    max-width: 400px;

}




.footer {
    padding: 80px 0;
    background: #333;
}

.footer .ft .inner {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(133, 133, 133, 0.2);
    padding: 0 0 40px 0;
}

.footer .inner .logo_box img {
    height: 100px;
    margin: 0 0 24px 0;
}

.footer .inner .logo_box p {
    color: #858585;
}

.footer .inner strong {
    display: block;
    margin: 0 0 24px 0;
    font-size: 24px;
    font-weight: 600;
    color: #f9f9f9;

}

.footer .inner li {
    line-height: 32px;
    color: #f9f9f9;
}

.footer .fb {
    margin: 40px 0 0 0;
}

.footer .fb .inner {
    display: flex;
    justify-content: space-between;
}

.footer .fb .customer {
    display: flex;
    gap: 40px;
}

.footer .fb .customer li {
    position: relative;
    color: #858585;
    margin: 0 0 24px 0;
}

.footer .fb .customer li~li::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -15%;
    transform: translate(0, -50%);
    width: 2px;
    height: 10px;
    background: #ddd;
}




.footer .fb .utils_box {
    display: flex;
    gap: 32px;
}

.footer .fb .utils_box img {
    height: 32px;
}

.footer address {
    max-width: 1530px;
    width: 100%;
    margin: 0 auto;
    color: #ddd;
    font-size: 15px;
}